@using _3LTB.ViewModels
@model CreatePostViewModel

<h1>@ViewBag.Title</h1>

<form method="post">

    <div class="row">

        <div class="col-md-5">
            @*<h4>Create a new post.</h4>*@
            <hr />
            <div asp-validation-summary="All" class="text-danger">
            </div>
                <div class="form-group">
                    <label asp-for="Trade"></label>
                    <input asp-for="Trade" class="form-control" />
                    <span asp-validation-for="Trade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartureCity"></label>
                    <input asp-for="DepartureCity" class="form-control" />
                    <span asp-validation-for="DepartureCity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Flight"></label>
                    <input asp-for="Flight" class="form-control" />
                    <span asp-validation-for="Flight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Position"></label>
                    <input asp-for="Position" class="form-control" />
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="Report"></label>
                    <input asp-for="Report" class="form-control" />
                    <span asp-validation-for="Report" class="text-danger"></span>
                </div>*@
                <button type="submit" class="btn btn-primary">Create</button>
        </div>

        <div class="col-md-5 col-md-offset-2">
            <hr />
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalCity"></label>
                <input asp-for="ArrivalCity" class="form-control" />
                <span asp-validation-for="ArrivalCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightDate"></label>
                <input asp-for="FlightDate" class="form-control" />
                <span asp-validation-for="FlightDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lang"></label>
                <input asp-for="Lang" class="form-control" />
                <span asp-validation-for="Lang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RedFlag"></label>
                <input asp-for="RedFlag" class="form-control" />
                <span asp-validation-for="RedFlag" class="text-danger"></span>
            </div>
        </div>

    </div>

</form>
